<div class="container">
  <nav>
    <ul class="pagination mt-2">
        <li class="page-item" [ngClass]="{disabled: currentPage === 0}">
            <button (click)="currentPage=currentPage-1" class="page-link">Prev</button>
        </li>
        <li class="page-item" [ngClass]="{active : currentPage===i}" *ngFor="let image of images; let i=index">
            <button (click)="currentPage = i" class="page-link">{{i+1}}</button>
        </li>
        <li class="page-item" [ngClass]="{disabled: currentPage === images.length-1}">
            <button (click)="currentPage=currentPage+1" class="page-link">Next</button>
        </li>
    </ul>
  </nav>
</div>